.movieListWrapper,.showWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}
.inputContainer{
    margin: auto;
    width:50vw;
    display: flex;
    align-items: center;
    >input{
        flex:11;
        outline:none;
        border-radius: 6px;
        padding:4px 7px;
    }
    .MuiSvgIcon-root{
        flex:1;
    }
}

// @media only screen and (max-width:450px){
//     .inputContainer >   input{
//         flex:9;
//     }
//     .inputContainer >  .MuiSvgIcon-root{
//         flex:3;
//         font-size: 2rem !important; 
//     }
// }