@import '../../common/color.scss';
.headerContainer{
    background: $secondary-color;
    padding:0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    img{
        width:2rem;
        border-radius: 50%;
        border:1px solid white;
        cursor: pointer;
    }
    .logo{
        color:$font-primary;
        font-size: 1.6rem;
        cursor: pointer;
    }
}
